#next {
    cursor: pointer;
    position: absolute;
    float: right;
    top: 50%;
    width: auto;
    color: #383736;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    right: 75px;
    transition: 0.2s ease-in;
  }
  
  #next:before {
    content:"Next";
    position:absolute;
    color:#383736;
    right: 50%;
    opacity: 0;
    transition: 0.6s ease-in;
    padding-right: 5px;
  }
  
  #next:hover:before {
    opacity: 1;
  }
  #next span {
    display: inline-block;
    transition: 0.6s ease-in;
  }
  #next:hover span {
    transform: translateX(50%);
  }